In [3]:
#importing library
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score

In [6]:
#importing data
df=pd.read_csv('UCI_Credit_Card.csv')
df=df.head(350)

In [7]:
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,346,160000.0,2,1,2,29,-1,-1,-2,-1,...,2303.0,6182.0,1654.0,0.0,0.0,5000.0,5000.0,1500.0,13000.0,0
346,347,100000.0,2,2,2,26,-1,-1,-1,0,...,3542.0,1980.0,3980.0,4210.0,4159.0,1000.0,1080.0,2000.0,1525.0,0
347,348,50000.0,2,2,2,29,0,0,0,0,...,45545.0,39963.0,41145.0,3000.0,2000.0,2000.0,2000.0,2000.0,2000.0,1
348,349,140000.0,2,2,2,31,0,0,0,0,...,139679.0,141748.0,142174.0,6600.0,6500.0,5100.0,5300.0,6000.0,5000.0,0
349,350,30000.0,2,2,2,26,0,0,0,0,...,20222.0,20796.0,19844.0,1411.0,1522.0,621.0,795.0,715.0,1000.0,1

In [8]:
#replace string with numbers
def preprocess_input(df):
    df=df.copy()
    
    #split data in x and y
    y=df['default.payment.next.month']
    x=df.drop('default.payment.next.month',axis=1)
    #train 
    x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,shuffle=True,random_state=1)
    #Scale x
    scaler=StandardScaler()
    scaler.fit(x_train)
    x_train=pd.DataFrame(scaler.transform(x_train),index=x_train.index,columns=x_train.columns)
    x_test=pd.DataFrame(scaler.transform(x_test),index=x_test.index,columns=x_test.columns)
    return x_train,x_test,y_train,y_test

In [9]:
x_train,x_test,y_train,y_test=preprocess_input(df)
y_test

192    0
256    0
169    0
67     0
201    0
      ..
199    1
70     0
228    1
122    0
41     0
Name: default.payment.next.month, Length: 106, dtype: int64

In [10]:
y_train.value_counts()

0    187
1     57
Name: default.payment.next.month, dtype: int64

In [11]:
models={
    'Logistic Regresion': LogisticRegression(),
    'Decision Tree' : DecisionTreeClassifier(),
    'Neural Network': MLPClassifier(),
    'Gradient Boosting': GradientBoostingClassifier()
    
}

In [12]:
for name,model in models.items():
    model.fit(x_train,y_train)
    print(name+'Trained')

Logistic RegresionTrained
Decision TreeTrained

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Neural NetworkTrained
Gradient BoostingTrained

In [13]:
for name,model in models.items():
    y_pred=model.predict(x_test)
    acc=accuracy_score(y_test,y_pred)
    print(name+'Accuracy:{:2f}%'.format(acc*100))

Logistic RegresionAccuracy:73.584906%
Decision TreeAccuracy:64.150943%
Neural NetworkAccuracy:75.471698%
Gradient BoostingAccuracy:75.471698%