In [79]:
#importing the library
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.metrics import classification_report,confusion_matrix

In [80]:
#loading the dataset
df=pd.read_csv('../input/noshowappointments/KaggleV2-May-2016.csv')
#showing the dataset
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [81]:
#getting information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [82]:
#describing the dataset
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [83]:
#checking the missing values in the dataset
df.isna().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [84]:
#checking for unique in patientId
df['PatientId'].unique()

array([2.98724998e+13, 5.58997777e+14, 4.26296230e+12, ...,
       7.26331493e+13, 9.96997666e+14, 1.55766317e+13])

In [85]:
#dropping the patient id
df=df.drop('PatientId',axis=1)

In [86]:
#dropping the AppointmentID 
df=df.drop('AppointmentID',axis=1)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110527 non-null  object
 1   ScheduledDay    110527 non-null  object
 2   AppointmentDay  110527 non-null  object
 3   Age             110527 non-null  int64
 4   Neighbourhood   110527 non-null  object
 5   Scholarship     110527 non-null  int64
 6   Hipertension    110527 non-null  int64
 7   Diabetes        110527 non-null  int64
 8   Alcoholism      110527 non-null  int64
 9   Handcap         110527 non-null  int64
 10  SMS_received    110527 non-null  int64
 11  No-show         110527 non-null  object
dtypes: int64(7), object(5)
memory usage: 10.1+ MB

In [88]:
df

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [89]:
#rename the columns name
df.rename(columns={'ScheduledDay':'ScheduleDate','AppointmentDay':'AppointmentDate'},inplace=True)

In [90]:
df

,Gender,ScheduleDate,AppointmentDate,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [91]:
#extracting year month and day from the date column
df['ScheduledYear']=df['ScheduleDate'].apply(lambda x:np.int(x[0:4]))
df['ScheduledMonth']=df['ScheduleDate'].apply(lambda x:np.int(x[5:7]))
df['ScheduledDay']=df['ScheduleDate'].apply(lambda x:np.int(x[8:10]))
df['ScheduledHour']=df['ScheduleDate'].apply(lambda x:np.int(x[11:13]))
df['ScheduledMinute']=df['ScheduleDate'].apply(lambda x:np.int(x[14:16]))
df['ScheduledSecond']=df['ScheduleDate'].apply(lambda x:np.int(x[17:19]))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  import sys

In [92]:
#dropping the original date column
df

,Gender,ScheduleDate,AppointmentDate,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledYear,ScheduledMonth,ScheduledDay,ScheduledHour,ScheduledMinute,ScheduledSecond
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016,4,29,18,38,8
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016,4,29,16,8,27
2,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016,4,29,16,19,4
3,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,2016,4,29,17,29,31
4,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016,4,29,16,7,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No,2016,5,3,9,15,35
110523,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No,2016,5,3,7,27,33
110524,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,16,3,52
110525,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,15,9,23
110526,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,13,30,56

In [93]:
df['AppointmentYear']=df['AppointmentDate'].apply(lambda x:np.int(x[0:4]))
df['AppointentMonth']=df['AppointmentDate'].apply(lambda x:np.int(x[5:7]))
df['AppointmentDay']=df['AppointmentDate'].apply(lambda x:np.int(x[8:10]))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

In [94]:
#dropping the original appointment column
df=df.drop('AppointmentDate',axis=1)

In [95]:
df

,Gender,ScheduleDate,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledYear,ScheduledMonth,ScheduledDay,ScheduledHour,ScheduledMinute,ScheduledSecond,AppointmentYear,AppointentMonth,AppointmentDay
0,F,2016-04-29T18:38:08Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016,4,29,18,38,8,2016,4,29
1,M,2016-04-29T16:08:27Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016,4,29,16,8,27,2016,4,29
2,F,2016-04-29T16:19:04Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016,4,29,16,19,4,2016,4,29
3,F,2016-04-29T17:29:31Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,2016,4,29,17,29,31,2016,4,29
4,F,2016-04-29T16:07:23Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016,4,29,16,7,23,2016,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03T09:15:35Z,56,MARIA ORTIZ,0,0,0,0,0,1,No,2016,5,3,9,15,35,2016,6,7
110523,F,2016-05-03T07:27:33Z,51,MARIA ORTIZ,0,0,0,0,0,1,No,2016,5,3,7,27,33,2016,6,7
110524,F,2016-04-27T16:03:52Z,21,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,16,3,52,2016,6,7
110525,F,2016-04-27T15:09:23Z,38,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,15,9,23,2016,6,7
110526,F,2016-04-27T13:30:56Z,54,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,13,30,56,2016,6,7

In [96]:
df

,Gender,ScheduleDate,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledYear,ScheduledMonth,ScheduledDay,ScheduledHour,ScheduledMinute,ScheduledSecond,AppointmentYear,AppointentMonth,AppointmentDay
0,F,2016-04-29T18:38:08Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016,4,29,18,38,8,2016,4,29
1,M,2016-04-29T16:08:27Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016,4,29,16,8,27,2016,4,29
2,F,2016-04-29T16:19:04Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016,4,29,16,19,4,2016,4,29
3,F,2016-04-29T17:29:31Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,2016,4,29,17,29,31,2016,4,29
4,F,2016-04-29T16:07:23Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016,4,29,16,7,23,2016,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,F,2016-05-03T09:15:35Z,56,MARIA ORTIZ,0,0,0,0,0,1,No,2016,5,3,9,15,35,2016,6,7
110523,F,2016-05-03T07:27:33Z,51,MARIA ORTIZ,0,0,0,0,0,1,No,2016,5,3,7,27,33,2016,6,7
110524,F,2016-04-27T16:03:52Z,21,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,16,3,52,2016,6,7
110525,F,2016-04-27T15:09:23Z,38,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,15,9,23,2016,6,7
110526,F,2016-04-27T13:30:56Z,54,MARIA ORTIZ,0,0,0,0,0,1,No,2016,4,27,13,30,56,2016,6,7

In [97]:
#checking for unique value in each object columns
{column:df[column].unique() for column in df.select_dtypes('object').columns}

{'Gender': array(['F', 'M'], dtype=object),
 'ScheduleDate': array(['2016-04-29T18:38:08Z', '2016-04-29T16:08:27Z',
        '2016-04-29T16:19:04Z', ..., '2016-04-27T16:03:52Z',
        '2016-04-27T15:09:23Z', '2016-04-27T13:30:56Z'], dtype=object),
 'Neighbourhood': array(['JARDIM DA PENHA', 'MATA DA PRAIA', 'PONTAL DE CAMBURI',
        'REPÚBLICA', 'GOIABEIRAS', 'ANDORINHAS', 'CONQUISTA',
        'NOVA PALESTINA', 'DA PENHA', 'TABUAZEIRO', 'BENTO FERREIRA',
        'SÃO PEDRO', 'SANTA MARTHA', 'SÃO CRISTÓVÃO', 'MARUÍPE',
        'GRANDE VITÓRIA', 'SÃO BENEDITO', 'ILHA DAS CAIEIRAS',
        'SANTO ANDRÉ', 'SOLON BORGES', 'BONFIM', 'JARDIM CAMBURI',
        'MARIA ORTIZ', 'JABOUR', 'ANTÔNIO HONÓRIO', 'RESISTÊNCIA',
        'ILHA DE SANTA MARIA', 'JUCUTUQUARA', 'MONTE BELO',
        'MÁRIO CYPRESTE', 'SANTO ANTÔNIO', 'BELA VISTA', 'PRAIA DO SUÁ',
        'SANTA HELENA', 'ITARARÉ', 'INHANGUETÁ', 'UNIVERSITÁRIO',
        'SÃO JOSÉ', 'REDENÇÃO', 'SANTA CLARA', 'CENTRO', 'PARQUE MOSCOSO',
        'DO MOSCOSO', 'SANTOS DUMONT', 'CARATOÍRA', 'ARIOVALDO FAVALESSA',
        'ILHA DO FRADE', 'GURIGICA', 'JOANA D´ARC', 'CONSOLAÇÃO',
        'PRAIA DO CANTO', 'BOA VISTA', 'MORADA DE CAMBURI', 'SANTA LUÍZA',
        'SANTA LÚCIA', 'BARRO VERMELHO', 'ESTRELINHA', 'FORTE SÃO JOÃO',
        'FONTE GRANDE', 'ENSEADA DO SUÁ', 'SANTOS REIS', 'PIEDADE',
        'JESUS DE NAZARETH', 'SANTA TEREZA', 'CRUZAMENTO',
        'ILHA DO PRÍNCIPE', 'ROMÃO', 'COMDUSA', 'SANTA CECÍLIA',
        'VILA RUBIM', 'DE LOURDES', 'DO QUADRO', 'DO CABRAL', 'HORTO',
        'SEGURANÇA DO LAR', 'ILHA DO BOI', 'FRADINHOS', 'NAZARETH',
        'AEROPORTO', 'ILHAS OCEÂNICAS DE TRINDADE', 'PARQUE INDUSTRIAL'],
       dtype=object),
 'No-show': array(['No', 'Yes'], dtype=object)}

In [98]:
#creating function to encode binary function
def binary_encode(df,column,positive_value):
    df=df.copy()
    #encoding the binary encode 
    df[column]=df[column].apply(lambda x:1 if x==positive_value else 0)
    #returning the dataframe
    return df

In [99]:
def onehot_encode(df,column,prefix):
    df=df.copy()
    #creating the dummy
    dummies=pd.get_dummies(df[column],prefix=prefix)
    #concating to original dataframe
    df=pd.concat([df,dummies],axis=1)
    #dropping the original dataframe
    df=df.drop(column,axis=1)
    #returning the dataframe
    return df

In [100]:
#applying the function to a dataframe
df=binary_encode(df,'Gender',positive_value='M')
df=binary_encode(df,'No-show',positive_value='Yes')
df=binary_encode(df,'Neighbourhood',positive_value='N')

In [101]:
df

,Gender,ScheduleDate,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledYear,ScheduledMonth,ScheduledDay,ScheduledHour,ScheduledMinute,ScheduledSecond,AppointmentYear,AppointentMonth,AppointmentDay
0,0,2016-04-29T18:38:08Z,62,0,0,1,0,0,0,0,0,2016,4,29,18,38,8,2016,4,29
1,1,2016-04-29T16:08:27Z,56,0,0,0,0,0,0,0,0,2016,4,29,16,8,27,2016,4,29
2,0,2016-04-29T16:19:04Z,62,0,0,0,0,0,0,0,0,2016,4,29,16,19,4,2016,4,29
3,0,2016-04-29T17:29:31Z,8,0,0,0,0,0,0,0,0,2016,4,29,17,29,31,2016,4,29
4,0,2016-04-29T16:07:23Z,56,0,0,1,1,0,0,0,0,2016,4,29,16,7,23,2016,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,2016-05-03T09:15:35Z,56,0,0,0,0,0,0,1,0,2016,5,3,9,15,35,2016,6,7
110523,0,2016-05-03T07:27:33Z,51,0,0,0,0,0,0,1,0,2016,5,3,7,27,33,2016,6,7
110524,0,2016-04-27T16:03:52Z,21,0,0,0,0,0,0,1,0,2016,4,27,16,3,52,2016,6,7
110525,0,2016-04-27T15:09:23Z,38,0,0,0,0,0,0,1,0,2016,4,27,15,9,23,2016,6,7
110526,0,2016-04-27T13:30:56Z,54,0,0,0,0,0,0,1,0,2016,4,27,13,30,56,2016,6,7

In [102]:
df=df.drop('ScheduleDate',axis=1)

In [103]:
df

,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledYear,ScheduledMonth,ScheduledDay,ScheduledHour,ScheduledMinute,ScheduledSecond,AppointmentYear,AppointentMonth,AppointmentDay
0,0,62,0,0,1,0,0,0,0,0,2016,4,29,18,38,8,2016,4,29
1,1,56,0,0,0,0,0,0,0,0,2016,4,29,16,8,27,2016,4,29
2,0,62,0,0,0,0,0,0,0,0,2016,4,29,16,19,4,2016,4,29
3,0,8,0,0,0,0,0,0,0,0,2016,4,29,17,29,31,2016,4,29
4,0,56,0,0,1,1,0,0,0,0,2016,4,29,16,7,23,2016,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,56,0,0,0,0,0,0,1,0,2016,5,3,9,15,35,2016,6,7
110523,0,51,0,0,0,0,0,0,1,0,2016,5,3,7,27,33,2016,6,7
110524,0,21,0,0,0,0,0,0,1,0,2016,4,27,16,3,52,2016,6,7
110525,0,38,0,0,0,0,0,0,1,0,2016,4,27,15,9,23,2016,6,7
110526,0,54,0,0,0,0,0,0,1,0,2016,4,27,13,30,56,2016,6,7

In [104]:
y=df['No-show'].copy()
x=df.drop('No-show',axis=1).copy()

In [105]:
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [106]:
x

array([[-0.73383659,  1.07793239,  0.        , ...,  0.        ,
        -2.55403994,  1.82197418],
       [ 1.36270119,  0.81830565,  0.        , ...,  0.        ,
        -2.55403994,  1.82197418],
       [-0.73383659,  1.07793239,  0.        , ...,  0.        ,
        -2.55403994,  1.82197418],
       ...,
       [-0.73383659, -0.69618366,  0.        , ...,  0.        ,
         1.66734544, -0.60723615],
       [-0.73383659,  0.03942544,  0.        , ...,  0.        ,
         1.66734544, -0.60723615],
       [-0.73383659,  0.73176341,  0.        , ...,  0.        ,
         1.66734544, -0.60723615]])

In [107]:
#training the dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=1)

In [108]:
x_train.shape

(77368, 18)

In [109]:
x_test.shape

(33159, 18)

In [110]:
#Training the model
inputs=tf.keras.Input(shape=(x.shape[1]))
x=tf.keras.layers.Dense(64,activation='relu')(inputs)
x=tf.keras.layers.Dense(64,activation='relu')(x)
outputs=tf.keras.layers.Dense(1,activation='sigmoid')(x)
model=tf.keras.Model(inputs,outputs)
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy',
            tf.keras.metrics.AUC(name='auc')
])
history=model.fit(x_train,y_train,validation_split=0.2,
                    batch_size=32,epochs=100,
                 callbacks=[tf.keras.callbacks.EarlyStopping(
                 monitor='val_loss',
                 patience=3,
                 restore_best_weights=True)])

Epoch 1/100
1935/1935 [==============================] - 7s 3ms/step - loss: 0.4732 - accuracy: 0.7970 - auc: 0.6737 - val_loss: 0.4678 - val_accuracy: 0.7935 - val_auc: 0.6976
Epoch 2/100
1935/1935 [==============================] - 6s 3ms/step - loss: 0.4582 - accuracy: 0.7993 - auc: 0.7075 - val_loss: 0.4621 - val_accuracy: 0.7939 - val_auc: 0.7122
Epoch 3/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4538 - accuracy: 0.7985 - auc: 0.7165 - val_loss: 0.4595 - val_accuracy: 0.7944 - val_auc: 0.7174
Epoch 4/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4507 - accuracy: 0.7989 - auc: 0.7218 - val_loss: 0.4569 - val_accuracy: 0.7933 - val_auc: 0.7182
Epoch 5/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4485 - accuracy: 0.7994 - auc: 0.7258 - val_loss: 0.4560 - val_accuracy: 0.7947 - val_auc: 0.7197
Epoch 6/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4472 - accuracy: 0.7998 - auc: 0.7283 - val_loss: 0.4577 - val_accuracy: 0.7931 - val_auc: 0.7182
Epoch 7/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4461 - accuracy: 0.7995 - auc: 0.7295 - val_loss: 0.4569 - val_accuracy: 0.7944 - val_auc: 0.7198
Epoch 8/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4449 - accuracy: 0.7996 - auc: 0.7319 - val_loss: 0.4557 - val_accuracy: 0.7925 - val_auc: 0.7205
Epoch 9/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4438 - accuracy: 0.7996 - auc: 0.7336 - val_loss: 0.4547 - val_accuracy: 0.7937 - val_auc: 0.7203
Epoch 10/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4428 - accuracy: 0.8002 - auc: 0.7354 - val_loss: 0.4569 - val_accuracy: 0.7931 - val_auc: 0.7198
Epoch 11/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4418 - accuracy: 0.8004 - auc: 0.7370 - val_loss: 0.4568 - val_accuracy: 0.7937 - val_auc: 0.7213
Epoch 12/100
1935/1935 [==============================] - 5s 3ms/step - loss: 0.4411 - accuracy: 0.8010 - auc: 0.7385 - val_loss: 0.4552 - val_accuracy: 0.7937 - val_auc: 0.7221

In [111]:
model.evaluate(x_test,y_test)

1037/1037 [==============================] - 2s 2ms/step - loss: 0.4509 - accuracy: 0.7983 - auc: 0.7177

[0.45085397362709045, 0.7982749938964844, 0.7176644802093506]

In [112]:
y_true=np.array(y_test)
y_pred=np.squeeze(np.array(model.predict(x_test)>=0.5,dtype=np.int))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [113]:
print('Classification Report',classification_report(y_true,y_pred))

Classification Report               precision    recall  f1-score   support

           0       0.80      1.00      0.89     26479
           1       0.48      0.01      0.03      6680

    accuracy                           0.80     33159
   macro avg       0.64      0.50      0.46     33159
weighted avg       0.73      0.80      0.71     33159

In [114]:
print('Confusion_Matrix',confusion_matrix(y_true,y_pred))

Confusion_Matrix [[26378   101]
 [ 6588    92]]