In [8]:
import numpy as np
import pandas as pd
#train_test_split
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
#ColumnTransformer
from sklearn.compose import ColumnTransformer
#OrdinalEncoding,OneHot
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,StandardScaler
from sklearn.linear_model import LinearRegression,Ridge,Lasso
#KneighborsRegressor
from sklearn.neighbors import KNeighborsRegressor
#neural_network
from sklearn.neural_network import MLPRegressor
from sklearn.svm import LinearSVR,SVR
#tree based models
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
#xgbregressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
import warnings
warnings.filterwarnings(action='ignore')

# Loading the Dataset

In [9]:
df=pd.read_csv('/kaggle/input/supermarket-sales/supermarket_sales - Sheet1.csv')
#showing the dataset
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

# Getting the Preliminary Information about the dataset

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

# Checking for the Missing Values

In [11]:
df.isna().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

* There is no missing  values in the dataset

# Preprocessing the Dataset

In [17]:
def preprocess_inputs(df):
    df=df.copy()
    
    #dropping invoiceid column from the dataset
    df=df.drop('Invoice ID',axis=1)
    
    
    
    
    
    
    y=df['Rating']
    x=df.drop('Rating',axis=1)
    return x,y

In [18]:
x,y=preprocess_inputs(df)
x

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income
0,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415
1,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200
2,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155
3,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880
4,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175
996,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900
997,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920
998,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910
999,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(700, 15)
(300, 15)
(700,)
(300,)

# Constructing the Pipeline

In [ ]:
#Categorizing our features
binary_features=['Customer type','Gender']

#ordinal features

In [20]:
x_train

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income
25,A,Yangon,Member,Female,Home and lifestyle,52.59,8,21.0360,441.7560,3/22/2019,19:20,Credit card,420.72,4.761905,21.0360
14,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900
139,A,Yangon,Normal,Male,Sports and travel,72.50,8,29.0000,609.0000,3/16/2019,19:25,Ewallet,580.00,4.761905,29.0000
136,A,Yangon,Normal,Female,Electronic accessories,26.31,5,6.5775,138.1275,1/18/2019,20:59,Credit card,131.55,4.761905,6.5775
626,A,Yangon,Normal,Male,Sports and travel,60.87,2,6.0870,127.8270,3/9/2019,12:37,Ewallet,121.74,4.761905,6.0870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,B,Mandalay,Member,Male,Home and lifestyle,30.12,8,12.0480,253.0080,3/3/2019,13:01,Cash,240.96,4.761905,12.0480
824,B,Mandalay,Member,Female,Sports and travel,60.08,7,21.0280,441.5880,2/14/2019,11:36,Credit card,420.56,4.761905,21.0280
87,A,Yangon,Member,Male,Food and beverages,49.38,7,17.2830,362.9430,3/27/2019,20:35,Credit card,345.66,4.761905,17.2830
304,B,Mandalay,Normal,Female,Electronic accessories,14.96,8,5.9840,125.6640,2/23/2019,12:29,Cash,119.68,4.761905,5.9840
207,C,Naypyitaw,Member,Female,Home and lifestyle,28.53,10,14.2650,299.5650,3/18/2019,17:38,Ewallet,285.30,4.761905,14.2650

In [24]:
{column:len(x_train[column].unique()) for column in x_train.select_dtypes('object')}

{'Branch': 3,
 'City': 3,
 'Customer type': 2,
 'Gender': 2,
 'Product line': 6,
 'Date': 89,
 'Time': 422,
 'Payment': 3}

In [22]:
x_train.select_dtypes('object')

,Branch,City,Customer type,Gender,Product line,Date,Time,Payment
25,A,Yangon,Member,Female,Home and lifestyle,3/22/2019,19:20,Credit card
14,A,Yangon,Normal,Female,Health and beauty,3/29/2019,19:21,Cash
139,A,Yangon,Normal,Male,Sports and travel,3/16/2019,19:25,Ewallet
136,A,Yangon,Normal,Female,Electronic accessories,1/18/2019,20:59,Credit card
626,A,Yangon,Normal,Male,Sports and travel,3/9/2019,12:37,Ewallet
...,...,...,...,...,...,...,...,...
39,B,Mandalay,Member,Male,Home and lifestyle,3/3/2019,13:01,Cash
824,B,Mandalay,Member,Female,Sports and travel,2/14/2019,11:36,Credit card
87,A,Yangon,Member,Male,Food and beverages,3/27/2019,20:35,Credit card
304,B,Mandalay,Normal,Female,Electronic accessories,2/23/2019,12:29,Cash
207,C,Naypyitaw,Member,Female,Home and lifestyle,3/18/2019,17:38,Ewallet