<a href="https://www.kaggle.com/code/vijays140291/tenitia-housing-price-prediction?scriptVersionId=120154736" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [2]:
#importing library
import numpy as np
import pandas as pd
#train_test_split
from sklearn.model_selection import train_test_split
#standardscaler
from sklearn.preprocessing import StandardScaler
#linear model
from sklearn.linear_model import LinearRegression,Lasso,Ridge
#KNeibhgors
from sklearn.neighbors import KNeighborsRegressor
#neural_network
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
#tree
from sklearn.tree import DecisionTreeRegressor
import warnings
warnings.filterwarnings(action='ignore')

# Loading the and Showing the Dataset

In [4]:
df=pd.read_csv('/kaggle/input/property-prices-in-tunisia/Property Prices in Tunisia.csv')
#showing the dataset
df

,category,room_count,bathroom_count,size,type,price,city,region,log_price
0,Terrains et Fermes,-1.0,-1.0,-1.0,À Vendre,100000.0,Ariana,Raoued,5.000000
1,Terrains et Fermes,-1.0,-1.0,-1.0,À Vendre,316000.0,Ariana,Autres villes,5.499687
2,Appartements,2.0,1.0,80.0,À Louer,380.0,Ariana,Autres villes,2.579784
3,Locations de vacances,1.0,1.0,90.0,À Louer,70.0,Ariana,Autres villes,1.845098
4,Appartements,2.0,2.0,113.0,À Vendre,170000.0,Ariana,Ariana Ville,5.230449
...,...,...,...,...,...,...,...,...,...
12743,Terrains et Fermes,-1.0,-1.0,-1.0,À Vendre,3200000.0,Tunis,Sidi Bou Said,6.505150
12744,Appartements,1.0,1.0,100.0,À Louer,600.0,Tunis,Autres villes,2.778151
12745,Maisons et Villas,3.0,1.0,760.0,À Vendre,1950000.0,Tunis,La Marsa,6.290035
12746,Maisons et Villas,3.0,1.0,190.0,À Vendre,240000.0,Tunis,La Marsa,5.380211
12747,Maisons et Villas,2.0,1.0,70.0,À Louer,500.0,Tunis,Sidi Bou Said,2.698970

# Getting the Preliminary Information

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12748 entries, 0 to 12747
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        12748 non-null  object
 1   room_count      12748 non-null  float64
 2   bathroom_count  12748 non-null  float64
 3   size            12748 non-null  float64
 4   type            12748 non-null  object
 5   price           12748 non-null  float64
 6   city            12748 non-null  object
 7   region          12748 non-null  object
 8   log_price       12748 non-null  float64
dtypes: float64(5), object(4)
memory usage: 896.5+ KB

In [6]:
df.describe()

         room_count  bathroom_count          size         price     log_price
count  12748.000000    12748.000000  12748.000000  1.274800e+04  12748.000000
mean       1.759649        0.759884    130.896219  1.601575e+07      4.374245
std        2.171468        1.264812    184.074990  1.016644e+09      1.389788
min       -1.000000       -1.000000     -1.000000  1.000000e+01      1.000000
25%       -1.000000       -1.000000     -1.000000  8.500000e+02      2.929419
50%        2.000000        1.000000     95.000000  8.975000e+04      4.953033
75%        3.000000        1.000000    150.000000  2.600000e+05      5.414973
max       20.000000       10.000000   2000.000000  1.000000e+11     11.000000

# Preprocessing

In [10]:
def onehot_encode(df,columns):
    df=df.copy()
    for column in columns:
        dummies=pd.get_dummies(df[column],prefix=column)
        df=pd.concat([df,dummies],axis=1)
        df=df.drop(column,axis=1)
    return df

In [35]:
def preprocess_inputs(df):
    df=df.copy()
    categorical_columns=[column for column in df.columns if df[column].dtype=='object']
    df=onehot_encode(df,categorical_columns)
    y=df['price']
    x=df.drop('price',axis=1)
    scaler=StandardScaler()
    x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)
    scaler.fit(x_train)
    x_train=pd.DataFrame(scaler.transform(x_train),columns=x_train.columns)
    x_test=pd.DataFrame(scaler.transform(x_test),columns=x_test.columns)
    return x_train,x_test,y_train,y_test

In [36]:
x_train,x_test,y_train,y_test=preprocess_inputs(df)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(8923, 294)
(3825, 294)
(8923,)
(3825,)

# Training the Model

In [37]:
models={'Linear Model':LinearRegression(),
       'Linear(L2 Regularization)':Lasso(),
        'Linear(L1 Regularization)':Ridge(),
        'Random Forest':RandomForestRegressor(),
        'Decision Tree':DecisionTreeRegressor(),
        'Gradient Boosting':GradientBoostingRegressor()
       }

In [39]:
for name,model in models.items():
    model.fit(x_train,y_train)
    print(name)
    print(model.score(x_test,y_test))

Linear Model
-2.0532006675128753e+21
Linear(L2 Regularization)
0.013935381830310734
Linear(L1 Regularization)
0.013918813497639904
Random Forest
0.6215485517284463
Decision Tree
0.7949640442451836
Gradient Boosting
0.7930690447395741

# Checking for Missing Values

In [9]:
df.isna().sum()

category          0
room_count        0
bathroom_count    0
size              0
type              0
price             0
city              0
region            0
log_price         0
dtype: int64

In [23]:
[column for column in x.columns if x[column].dtype=='object']

['category', 'type', 'city', 'region']